extends ../views/layout

include mixins/_projectCard

block content
  .inner
    h1 #30DayChartChallenge

    //- - let all30DayCharts = [...globals.nestedArticles["30-day-chart-challenge/comparisons"].values,...globals.nestedArticles["30-day-chart-challenge/comparisons"].values,...globals.nestedArticles["30-day-chart-challenge/distributions"].values,...globals.nestedArticles["30-day-chart-challenge/relationships"].values,...globals.nestedArticles["30-day-chart-challenge/timeseries"].values,...globals.nestedArticles["30-day-chart-challenge/uncertainties"].values]
    - let visible30DayCharts = [...globals.nestedArticles["30-day-chart-challenge/comparisons"].values]
    .projects
      //- h2 Comparisons
      each chart in visible30DayCharts
        h3 #{chart.name}
        +projectCard(chart)
