extends layout

block content
  .intro
    h1 
      span.title Why MapTheClouds?
    
  .inner
    .about
      p Hi, I’m Cristina.
      p I am a cartographer that made a career switch to web development. After a couple of years, becoming a mother, I decided to go freelance and mix the best of both worlds in new and creative ways.
      p maptheclouds.com is my playground, the home of my future experiments with 3D maps, data visualisations and, I hope, many interesting open source projects . Get a coffee and a laptop, we’re going to map the clouds! ⛅ 
      p The clouds I was referring are not ‘point clouds’, 😀, but the idea that you can (and must) approach any phenomenon surrounding us, no matter how impossible it may seem. Sky is the limit. ⛅  
