extends layout

block content
  .intro
    h1 
      span.title A Cartographer & web-developer passionate about 3D maps and creative data visualizations.
    
  .inner
    .about

    
      p #[img.ma-author-image(src="https://mps-ph.s3.us-east-2.amazonaws.com/ma/img/author.png" alt="Alexa Cristina")] Hi! My name is #[strong Cristina Alexa]. Let me tell you a bit about myself and how Data Visualization has become an important part of my life.  
      
      p I am a freelancing data visualization developer, working from #[strong Cluj-Napoca], România, with a background in #[strong cartography and web development]. In 2008 I graduated as a Geographic Information Systems (GIS) Planner from the 'Babes-Bolyai' University from Cluj-Napoca. Looking for a GIS-related career, I worked as a GIS Analyst at Micro Mapper for 3 years.
      
      p It took me a while to figure out that, although I liked doing spatial analysis, I loved the #[strong interactive map visualizations] on the web. In my spare time I started teaching myself about the subject of web mapping. A year later in 2010 I got the opportunity to join Property Shark as a Cartographer. There I worked on Web based mapping & Spatial data and information management for one year.
      
      p After a while, because of my interest in programming I was given the opportunity to work in other departments as Business Analyst, then as Web Developer. I worked on researching, analizing and visualizing large amounts of real-estate data, back-end web development, RESTful web services, continuous integration, sometimes front-end development tasks.
      
      p However, after eight years I figured out that I was more interested in the #[strong visual exploration] part of web programming, than in the web maintenance. Therefore, I quit my job to become a data visualization developer and map maker, and craft unique 3D maps visualizations. I started teaching myself more about the subject of data visualization and JavaScript programming, and I also started creating personal projects.
      
      p I also got qualified as Front End Web Developer (#[a(href="https://graduation.udacity.com/confirm/HTUJTP2A") Udacity - 2021]) and Geographic Information Systems (GIS) Specialist (#[a(href="https://www.coursera.org/account/accomplishments/specialization/PDFRF3UUUSQT") Coursera - 2019]).

      br
      p My projects include web-based data visualizations. But they are mostly focused on #[strong storytelling, interactive maps & data visualizations], and animations than on static data art.
      
      p Besides creating visualizations for the web, I love to perform #[strong GIS analysis] on raster images, and #[strong 3D terrain analysis] on LiDAR derived data. 

      p Also, I do #[strong web design systems, web development] & integration for my projects, and manage hosting for them.

      p One of my ongoing projects is #[a(href="https://datavizromania.org/") DatavizRomania]. I have started it to record my journey of learning data visualization and share it with the data visualization community in România. 
      
      br
      p If you're interested in my projects & experiments, please feel free to #[a(href="mailto:alexa@maptheclouds.com" target="_blank" title="Mail") contact me] to find out how we might #[strong work together].

      br
      p Why MapTheClouds? The clouds I was referring are not ‘point clouds’, but the idea that you can (and must) approach any phenomenon surrounding us, no matter how impossible it may seem. Sky is the limit. ⛅  

            
