extends layout

block content
  .intro
    h1 
      span.title Maps and Data Visualization services
    
  .inner
    .about
      p MapTheClouds is not only a place to share my knowledge and mappy ideas, but also a consulting business.
      p If you find the content on my blog useful to your business, you can hire me to help you with your projects.
      p I am a cartographer and a web developer, focused on 3D maps and data visualization, using free and open-source technologies. 
      p I do:
       ul.service-list
        li 3D maps using Three.js, D3.js, Procedural GL
        li LiDAR data processing using PDAL, Entwine, Potree, QGIS
        li storytelling & interactive maps using D3.js, Leaflet, MapLibre GL
        li Data Visualization using D3.js, Tableau, R
        li data management and preparation using various query languages
        li GIS analysis and visualization using QGIS and open-source solutions
        li web development using JavaScript/Node/React, Docker, shell
        li web design using design systems, SCSS, Figma, Gimp, Blender 

      p Skills: 
        ul.service-list
          li 3D maps, interactive maps, data visualization, data analysis, charts, graphs, 3D visualization, geospatial, Geographic Information System(GIS), spatial analysis, cartography, digital mapping, web mapping, cartography & maps, web development, website design, animation, open-source
      p Tools:
        ul.service-list
          li JavaScript, HTML5, CSS, QGIS, D3.js, Three.js, Blender, Figma, Tableau, R programming language, Linux, Docker, Oracle, MySQL, Git & others

      p Experience:
        ul.service-list
          li Cartographer & Web Developer | Freelancer @ MapTheClouds
            ul.service-list-2
              li  Jul 2019 - Present
              li  3D mapping, interactive web maps, graphs and charts.
              li  Web pages, hosting, data preparation and manipulation.
          li Software Developer, Business Analyst, Web Mapping @ Property Shark
            ul.service-list-2
              li  Jun 2010 - Aug 2017 (7 years, 2 months)
              li  Data cleaning, Web development, RESTful web services, continuous integration - Perl, Mason, JavaScript, HTML/CSS.
              li  Research, load, process, analize and visualize large amounts of real-estate data - Oracle, MySQL, Perl scripting.
              li  Spatial data and information management - Oracle, MySQL. Web based mapping - Mapserver/Perl Mapscript.  
          li Cartographer, GIS Analyst @ Micro Mapper
            ul.service-list-2
              li  Oct 2007 - Jun 2010 (2 years, 8 months)
              li  Spatial analysis, process automation, geo-spatial database creation and management - ArcGIS Desktop, MapInfo, Global Mapper and Open Source GIS.
              li  Vector and raster data editing, interoperability standards, map layouts - MapInfo, Global Mapper, OCAD.  

      p Education:
        ul.service-list
          li Master of Science - Geographic Information Systems (GIS) - Territorial Planning 
            ul.service-list-2
              li  Universitatea 'Babes-Bolyai' din Cluj-Napoca, Romania
              li  2007 - 2008
          li Bachelor of Science - Geography
            ul.service-list-2
              li  Universitatea de Vest din Timisoara, Romania 
              li  2003 - 2007

      p Qualifications:
        ul.service-list
          li Front End Web Developer
            ul.service-list-2  
              li Udacity - 2021
              li  Certification ID: 
                a(href="https://graduation.udacity.com/confirm/HTUJTP2A") HTUJTP2A 
              li  The goal of the Front End Web Developer Nanodegree program is to equip learners with the unique skills they need to build and develop a variety of websites and applications. 
              li  Sections Completed: 
                ul.service-list-3
                  li CSS & Website Layout
                  li JavaScript and the DOM
                  li Web APIs and Asynchronous Applications
                  li Build Tools, Webpack, and Service Worker  
                  li Geographic Information Systems (GIS) Specialization
          li Geographic Information Systems (GIS) Specialization
            ul.service-list-2 
              li   Coursera - 2019
              li  Certification ID: 
                a(href="https://www.coursera.org/account/accomplishments/specialization/PDFRF3UUUSQT") PDFRF3UUUSQT 
              li  In this specialization, learners gained the skills to act as professional GIS analysts and communicate with peers.
              li  Course Certificates Completed:
                ul.service-list-3
                  li Fundamentals of GIS
                  li GIS Data Formats Design and Quality
                  li Geospatial and Environmental Analysis 
                  li Imagery, Automation, and Applications
                  li Geospatial Analysis Project          