.consent-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem 3rem;
  background-color: #fff;
  transition: opacity 1s ease;
  z-index: 100;

  display: flex;
  justify-content: space-between;

  &.hidden {
    display: none;
  }

  @media (min-width: 568px) {
    padding: 2rem 2rem 1rem 13rem;
  }
}

.consent-remove {
  color: #303030;
  background: none;
  border: 0;
  &:hover {
    color: var(--color-accent-lighter);
  }
}
