.cover {
  position: relative;
  padding: 5% 0;
  background-image: var(--cover_image);
  background-position: var(--cover_image_position);
  background-size: var(--cover_image_size);
  background-repeat: var(--cover_image_repeat);
  background-attachment: var(--cover_image_attachment);

  h1 {
    /* Media Queries */
    @media only screen and (max-width: 770px) {
      font-size: 30px;
    }
  }
}

.cover-text {
  position: relative;
  z-index: 10;
  padding: 2% 20%;
  text-align: center;
  vertical-align: middle;

  @media only screen and (max-width: 1280px) {
    margin-top: 2rem;
  }

  @media only screen and (max-width: 1024px) {
    margin-top: 4rem;
  }
  @media only screen and (max-width: 380px) {
    margin-top: 3rem;
    padding: initial;
  }
}

.cover-text p,
.cover-text h1 {
  color: var(--color-cover-text);
}

.cover-text h1 {
  margin: 0;
  // font-size: 70px;
  letter-spacing: -3px;
}

.cover::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  z-index: 5;
  background: var(--color-main-grad);
  opacity: var(--color_intro_overlay_opacity);
  background-position: var(--cover_image_position);
  background-size: var(--cover_image_size);
}

.panel {
  .btn {
    margin: 1em;
    border-radius: 50px;
    background: -webkit-gradient(
      linear,
      center top,
      center bottom,
      from(var(--color-accent-lighter)),
      to(var(--color-accent-light))
    );
    color: var(--white);

    &:hover {
      color: var(--black);
      text-decoration: none;
      background: -webkit-gradient(
        linear,
        center top,
        center bottom,
        from((var(--color-accent-bg))),
        to(var(--color-accent-light))
      );
    }
  }
}
