.wrapper {
  min-height: 100%;
  width: 100%;
  margin: 0;
  margin-bottom: -50px;
  padding: 0;
  // background: #222;
  // box-shadow: inset 10px 10px 100px #000;
  overflow: auto;
  // background: var(--black);

  nav.navbar {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    // padding: 0.1rem;
  }

  .centered {
    margin: 1rem 0;
    padding: 1rem;
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
    background: var(--white);

    .content {
      .intro {
        position: relative;
        width: 100%;
        margin: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        z-index: 0;
        border-color: rgba(83, 83, 84, 0.2);
        color: var(--color-intro-text);
        border-color: var(--color-intro-text--a20);
      }

      .inner {
        // padding-top: 3rem;
        // padding-bottom: 3rem;
        position: relative;

        width: 100%;

        .about {
          background-color: var(--color-main-foreground);
          line-height: 1.618;
          margin-top: 1rem;
          margin-left: auto;
          margin-right: auto;
          max-width: 50em;
        }
      }

      .front-section {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 2rem;
        margin: 1rem;
      }

      p {
        padding: 0;
        margin: 0 0 1.618em;

        overflow-wrap: break-word;
        word-wrap: break-word;
      }
    }
  }

  #top-btn {
    position: fixed;
    bottom: 1rem;
    float: right;
    right: 1rem;
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: var(--color-accent-light);
    padding: 0.5px;
    border-radius: 4px;
    z-index: 1;
    color: var(--white);

    &:hover {
      background-color: var(--color-accent-bg);
      color: var(--black);
    }
  }
}
