.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  // padding: 0.5rem 1rem;
}

.navbar-expand-lg {
  @media only screen and (min-width: 992px) {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    svg {
      margin: 0 0.5rem;
      width: 50px;
      height: 50px;
      overflow: hidden;
      vertical-align: middle;
    }

    .site-branding-text {
      display: inline-block;
      vertical-align: middle;
      line-height: initial;
      padding: 0;
      margin: 0;
      font-size: initial;

      p {
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 2;
      }

      .site-title {
        font-weight: 700;
        font-size: 1.618em;

        @media only screen and (max-width: 568px) {
          font-size: 1em;
        }
      }

      .site-description {
        text-transform: uppercase;
        opacity: 0.8;
        font-size: 0.809em;
        margin-bottom: 0.5rem;

        @media only screen and (max-width: 568px) {
          display: none;
        }
      }

      .site-title,
      .site-description,
      .custom-logo {
        color: var(--color-text-heading);
      }
    }
  }

  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    @media (min-width: 992px) {
      -ms-flex-direction: row;
      flex-direction: row;
      position: absolute;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }

    .dropdown-menu {
      position: static;
      float: none;
    }

    .nav-link {
      padding-right: 0;
      padding-left: 0;

      display: block;
      padding: 0.5rem 1rem;

      @media only screen and (min-width: 992px) {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }

    a {
      color: #007bff;
      text-decoration: none;
      background-color: transparent;
    }
  }

  .navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-end;

    @media only screen and (min-width: 992px) {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
  }

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    @media only screen and (max-width: 568px) {
      padding: 0.25rem 1.5rem;
    }

    @media (min-width: 992px) {
      display: none;
    }

    span {
      svg {
        width: 50px;
        height: 50px;
        fill: white;
        // border: 1px solid grey;
      }
    }
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: '';
    background: no-repeat center center;
    background-size: 100% 100%;
  }

  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }

  [type='button']:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
  }
  [type='button'],
  button {
    -webkit-appearance: button;
  }
  button {
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
  }

  .ml-auto,
  .mx-auto {
    margin-left: auto !important;
  }

  .collapse:not(.show) {
    display: none;
  }

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
  }

  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.navbar-dark {
  .navbar-brand {
    color: #fff;
  }
  .navbar-nav {
    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: #fff;
    }
    .nav-link {
      color: #fff;
      color: rgba(255, 255, 255, 0.5);
      &:hover,
      &:focus {
        color: rgba(255, 255, 255, 0.75);
      }
    }

    .disabled {
      color: rgba(255, 255, 255, 0.25);
    }
  }
  .navbar-toggler-icon {
    // background-image: url("..https://mps-ph.s3.us-east-2.amazonaws.com/ma/icons/toggle-editor.svg");
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
  }

  .navbar-text {
    color: rgba(255, 255, 255, 0.5);

    a {
      color: #fff;
    }
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
