.detailed {
  &__hero {
    height: 400px;
    position: relative;
    overflow: hidden;
    display: flex;
    // padding: 3rem 0;
    // justify-content: center;
    // align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
    &:before {
      display: block;
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      // background: linear-gradient(
      //   90deg,
      //   #b7f6db 0%,
      //   #34fcfc 20%,
      //   #83c3fe 60%,
      //   #fff 95%
      // );
      opacity: 0.6;
      z-index: 1;
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
    }
  }
  &__image {
    // width: 100%;
    margin-top: 1em;
    height: 400px;
    top: 0;
    left: 0;
    object-fit: cover;
    // position: absolute;
  }
  &__details {
    background: white;
    // clip-path: polygon(0px 2vw, 100% 0, 100% calc(100% - 2vw), 0% 100%);
    position: relative;
    padding: 1rem;
    margin-top: 1em;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);

    width: calc(70% - 1.25em);
    @media all and (max-width: 850px) {
      width: 100%;
    }

    p {
      font-size: 12px;
      line-height: 1.5rem;
    }
  }
}
