ul.service-list {
  list-style: none;
  padding: 0px;

  li:before {
    content: '\2638';
    font-size: 1.5em;
    color: teal;
    margin: 0 1em; /* any design */
  }

  .service-list-2 {
    li:before {
      content: '\1405';
      font-size: 1em;
      margin: 0 1em; /* any design */
    }
  }

  .service-list-3 {
    li:before {
      content: '\2713';
      margin: 0 1em; /* any design */
    }
  }
}
